<% unless @inactive_employees.empty? %>
  <h3>Inactive Employees</h3>
  	<div class="panel callout radius">
    <ul>
      <% @inactive_employees.each do |employee| %>
        <li><%= link_to employee.name, employee_path(employee) %></li>
      <% end %>
    </ul>
  </div>
<% end %>