<div class="row">
  <div class="small-7 columns">
    <%= render partial: "flavors_for_store" %>
  </div>
</div>
<%= render partial: "partials/object_options", locals: {model_name: "flavor", object: @flavor}  %>