<% if @active_stores.empty? %>
  <p><em>There are no active stores at this time.</em></p>
<% else %>
  <h3>Current Stores</h3>
  <% @active_stores.each do |store| %>
    <div id="store_card">
    <fieldset>
      <h6><%= link_to store.name, store_path(store)%></h6><br>
      <ul>Phone: <br>
      <%="#{number_to_phone store.phone}"%></ul>
      <ul>Address: <br>
       <%= "#{store.street} : #{store.city}, #{store.state}"%></ul>
    </fieldset>
    </div>
  <% end %>
  <%= will_paginate @active_stores, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> <p>&nbsp;</p>
<% end %>