<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="right">
      <% if not logged_in? %>
        <%= render partial: "partials/guest_nav" %>
      <% else %>
        <%= render partial: "partials/#{current_user.employee.role}_nav" %>
      <% end %>
    </section>
  </nav>
</div>