<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="right">
      <% if not logged_in? %>
        <%= render partial: "partials/guest_nav" %>
      <% else %>
        <div id="login"><%= link_to "LOGOUT", logout_path %></div>
      <% end %>
    </section>
  </nav>
</div>