<% if not @jobs.empty? %>
	<% @jobs.each do |job| %>
		<% if can? :show, job %>
			<ul><%= job.name %></ul>
		<% end %>
	<% end %>
<% else %>
	<p> There are no recorded jobs for this shift!</p>
<% end %>