<h2>Pick a Location</h2>
  <div id="accordion">
    <% @active_stores.each do |store| %>
      <h3><%= "#{store.name} hello" %></h3>
      <p>
        <% store.flavors.each do |flavor| %>
          <ul>
            <li><%= "#{flavor.name}" %></li>
          </ul>
      </p>
  </div>

