<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_jobs" %>
  </div>
</div>
<%= render partial: "partials/object_options", locals: {model_name: "shift", object: @shift}  %>